<%- include("partials/header"); -%>
  <div class="posts">
  <h1><%=title%></h1>
  <p><%=content%></p>
  <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"><a href="/create">Create a new post</a></button>
  <button type="button" class="btn btn-outline-dark btn-lg px-4">Edit</button>
</div>
<%- include("partials/footer"); -%>
